@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.image_boxes.style_one {
    display: inline-block;
    margin-bottom: 100px;
}

.image_boxes {
    position: relative;  
}  
.image_boxes.style_one .image.one {
    position: relative;
    width: 600px;
    height: 550px;
    /* border-radius: 15px 70px; */
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.image_boxes.style_one .image.one img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: calc(100% - 10rem);
    height: calc(100% - 3rem);
    object-fit: cover;
    border-radius: 18px;
}
.image_boxes .year_of_experience {
    position: absolute;
    padding: 35px;
    border-radius: 13px 40px;
    background: #8ABAD3FF;
    box-shadow: var(--box-shadow);
    display: inline-block;
    max-width: 400px;
    left: 85px;
    bottom: -60px;
    color: #fff;
}
.image_boxes .year_of_experience .year {
    position: absolute;
    left: 25px;
    top: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 60px;
    background: #011936FF;
    color: #fff;
    text-align: center;
    margin: auto;
    font-family: 'Mulish', sans-serif;
    background-image: linear-gradient(100deg, #f40c4300, #8abad3);
}
.image_boxes .year_of_experience .year::before {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    background: transparent;
    border: 2px dotted white;
    border-radius: 50px;
    top: -10px;
    left: -10px;
}
sup {
    top: -0.5em;
}
.image_boxes .year_of_experience .content {
    position: relative;
    margin-left: 82px;
    margin-right: 0px;
}
.image_boxes .year_of_experience .content h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
    font-family: 'Mulish', sans-serif;
}
@media (max-width: 550px)
{.image_boxes.style_one {
    display: block;
}}
@media (max-width: 992px)
{.image_boxes.style_one {
    display: block;
}}
@media (max-width: 992px)
{.image_boxes.style_one .image.one {
    width: 100%;
    height: 100%;
}}
.space-top {
    margin-top: 40px;
}
.img-border {
    position: relative;
    height: 100%;
    min-height: 400px;
}
.img-border::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 3rem;
    bottom: 3rem;
    border: 5px solid #011936FF;
    border-radius: 18px;
}
.cat-about h2{
    font-family: "Quicksand", sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #011936;
}
.cat-about h3{
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    color: #00539CFF;
    line-height: 25px;
    padding-left: 20px;
}
.service-i img{
    width: 60px;
}
.pricing-1 img{
    padding: 20px;
    border-radius: 25px 45px;
}
.service-info-3 .icon img{width: 70px;}
.service-info-3 i{float: left;padding-top: 13px;}
.bg-grea-33{
    background-image: linear-gradient(100deg, #FCF6F5FF, #aac2ce);
}
.cat-about i{float: left;color: #00539CFF;font-size: 23px;padding-top: 1px;}
.page-title{
    position:relative;
    text-align:center;
    padding:90px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }

.page-title:before{
    position:absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.80);
}

.page-title .auto-container{
    position:relative;
}

.page-title h2{
    position:relative;
    color:#ffffff;
    font-size:36px;
    line-height:1em;
    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: "Quicksand", sans-serif;
}

.page-title h1:before{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    height: 2px;
    width: 90px;
    background-color: #ffffff;
    content: "";
}

.page-title h1:after{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    height: 4px;
    width: 35px;
    background-color: #8abad3 !important;
    content: "";
   }

.page-breadcrumb{
    position:relative;
    margin-top:5px;
   }

.page-breadcrumb li{
    position:relative;
    display:inline-block;
    margin-right:10px;
    padding-right:15px;
    color: #8abad3 !important;
    font-size:18px;
    font-weight: 500;
    text-transform:capitalize;
    font-family: "Quicksand", sans-serif;
   }

.page-breadcrumb li:after{
    position:absolute;
    content: ":";
    right:-2px;
    top:1px;
    color: #8abad3 !important;
    font-size:14px;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
   }

.page-breadcrumb li:last-child::after{
    display: none;
}

.page-breadcrumb li:last-child{
    padding-right:0px;
    margin-right:0px;
}
.page-breadcrumb li a{
    color:#ffffff;
    font-weight:500;
    text-transform: capitalize;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    font-family: "Quicksand", sans-serif;
}
.page-breadcrumb li a:hover{
    color: #00c0ff;
}
.pricing-table{
	position: relative;
	margin-bottom: 30px;
}

.pricing-table .inner-box{
	position: relative;
	border: 1px solid #eeeeee;
	padding-bottom: 1px;
	box-shadow: 0 0 30px rgba(0,0,0,0.10);
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
	background: #011936;
}

.pricing-table .title{
	position: relative;
	display: block;
	font-size: 16px;
	line-height: 21px;
	background: #8abad3;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	padding: 2px 0px;
	text-transform: uppercase;
}

.pricing-table .price-box{
	position: relative;
	padding: 20px 0;
	background-color: #011936;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.pricing-table .inner-box:hover .price-box{
	background-color: #222222;
}

.pricing-table .price{
	position: relative;
	font-size: 28px;
	line-height: 25px;
	color: #ffffff;
	font-weight: 600;
	font-family: "Quicksand", sans-serif;
	text-align: center;
}

.pricing-table .price span{
	position: relative;
	display: inline-block;
	font-size: 36px;
	line-height: 40px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	margin-right: 5px;
	top: -20px;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
} 
.table-content{
    padding: 20px;
    background-image: linear-gradient(120deg, #d9e7ee 0%, #e1e5e9 100%);
}
.table-content ul li{
    line-height: 28px;
    color: #011936;
    font-weight: 600;
    padding-left: 30px;
    padding-bottom: 15px;
}
.table-content ul i{
    color: #8abad3;
    float: left;
    padding-top: 8px;
}
.sec-consulting{
    background: #e8f3ee;
}
.testimonial-inner-01{
    max-width: unset !important;
}
.team-2.df-box1{
    margin-bottom: unset !important; 
}
/* Start Service Designed CSS */
.at-categories {
    background-image: linear-gradient(180deg, rgb(27 60 116) 0%, rgb(138 186 211) 100%), url(../images/eye-doctor-05.jpg);
    padding-top: 32px;
    padding-right: 13px;
    padding-bottom: 32px;
    padding-left: 13px;
    box-shadow: 0px 30px 60px -15px rgba(79,199,200,0.39);
    margin-bottom: 40px;
    border-radius: 25px;
}
.sidebar-inner-design { 
    background-color: #ffffff;
    border-color: #01516e;
    border-left-width: 4px;
    padding-top: 20px!important;
    padding-right: 30px!important;
    padding-bottom: 22px!important;
    padding-left: 30px!important;
    margin-right: -30px!important;
    margin-left: 0px!important;
    box-shadow: 0px 20px 60px 0px rgba(22,41,68,0.12);
    transform: translateX(-8%) translateY(0px);
    border-radius: 10px 40px;
    background-image: linear-gradient(180deg, rgb(138 186 211) 0%, rgb(138 186 211) 100%), url(../images/eye-doctor-05.jpg);
}
.at-categories ul li {
    letter-spacing: 1px;
    border-width: 1px;
    border-color: rgba(255,255,255,0.12);
    padding-top: 15px!important;
    padding-right: 0px!important;
    padding-bottom: 28px!important;
    padding-left: 15px!important;
    border: 2px solid #fff !important;
    list-style-type: none;
    margin-top: 30px;
    border-radius: 13px 30px;
}
.blog-cat{}
.at-categories ul li.active {background: rgb(28 45 73);padding: 14px 15px 14px 22px;color: #fff !important;border-left: 3px solid #045a66;border-right: 3px solid #045a66;}
.at-categories ul li a {
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.at-categories ul li i{
    border-radius: 100% 100% 100% 100%;
    /* padding-top: 8px!important; */
    /* padding-right: 23px!important; */
    /* padding-bottom: 8px!important; */
    /* padding-left: 8px!important; */
    background-color: #ffffff;
    color: #226981;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    float: left;
}
.sec-services {
    margin-top: 65px;
}
.sidebar-inner-design h4{
    text-align: center;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    color: #fff;
    font-size: 24px;
}
.at-categories-other{padding-top: 10px !important;}
.cat-services h1{
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
}
.cat-services h2{
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
}
.single-item-service{
    background: linear-gradient(1deg, #ecf8ff, #e1f2ff);
    padding: 21px 15px 20px 20px;
    margin-top: 25px;
}
.single-item-service p{
    font-size: 17px;
}
.single-item-service p.para{padding-left: 30px;}
.single-item-service i{
    color: #011936;
    float: left;
    padding-top: 5px;
}
.single-item-service h3{
    padding-bottom: 15px;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
}
.single-item-service h4{
    padding-bottom: 15px;
    font-family: "Quicksand", sans-serif;
    font-size: 19px;
    margin-bottom: unset;
}
/* Specialty Clinic css */
.property-img img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 1200ms;
    transition-duration: 1200ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    width: 100%;
    border-radius: 25px;
}
.property_overlay {
    background: rgba(5, 15, 41, 0.42) none repeat scroll 0 0;
    height: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    width: 100%;
    border-radius: 25px;
}
.pro-info {
    background: rgba(33, 33, 33, 0.79) none repeat scroll 0 0;
    bottom: 0;
    padding: 15px 0;
    position: absolute;
    width: 100%;
    border-radius: 25px;
}
.pro-info p{font-family: 'Mulish', sans-serif;}
.property-text {
    background: #fff none repeat scroll 0 0;
    padding: 20px;
    text-align: center;
}
.property-img {
    overflow: hidden;
    position: relative;
    border-radius: 25px;
}
.pro-info h3{color: #fff;font-family: "Quicksand", sans-serif;}
.property-img:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 25px;
}
.heading-design{
    background: #011936;
}
.heading-design h2{
    text-align: center;
    color: #fff;
    font-weight: 400;
}
.cat-appointment {
    position: relative;
    z-index: 999;
    background-image: url(../images/appointment-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 115px;
}
.cat-appointment h2{
    color: #fff;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    font-size: 34px;
}
.cat-appointment h3{
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 40px;
    font-weight: 400;
}
.cat-appointment a{
    background-color: #fff1ed;
    border: none;
    box-shadow: inset 0 -4px 2px #011936;
    color: #30323e;
    padding: 1.225em 1.5em;
    border-radius: 13px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.main-title1 p{color: #000;}
.main-title1 h2{font-family: "Quicksand", sans-serif;}
.cat-condition{
    border: 1px solid #011936;
    background: linear-gradient(140deg, rgb(224 233 244) 20%, rgb(241 247 250) 64%);
    padding: 20px 30px 20px;
}
.cat-condition h3{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    background: #011936;
    color: #fff;
    display: inline-block;
    padding: 5px;
    border-radius: 7px;
    border: dotted 2px #8abad3;
}
.cat-condition p{
    margin-bottom: unset;
    padding-top: 10px;
}
.cat-condition p i{
    padding-right: 11px;   
}
.sec-clinic{
    background: #011936;
}
.cat-clinic{
    border: 1px solid #a1d5ef;
    padding: 45px;
    display: grid;
    background-color: #345276;
    border-radius: 10px;
    margin-bottom: 70px;
    margin-top: 70px;
    /* text-align: center; */
}
.cat-clinic h2{
    color: #fff;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    padding-bottom: 20px;
}
.cat-clinic p{
    /* padding-top: 20px; */
    color: #fff !important;
    line-height: 30px;
    padding-left: 34px;
}
.cat-clinic-icon i{padding-right: 18px;float: left;color: #fff;padding-top: 11px;}
.feature-bx3 {
    background-color: #eef5f7;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    transition: all .5s;
}
.feature-bx3:after {
    border: 2px solid #565acf;
    border-radius: 20px;
    content: "";
    height: 100%;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 100%;
    z-index: -1;
}
.feature-bx3 p{
    font-size: 18px;
    font-weight: 500;
    color: #011936;
}
.feature-bx3:after {
    border: 2px solid #011936;
    border-radius: 20px;
    content: "";
    height: 100%;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 100%;
    z-index: -1;
}
.feature-bx3:hover {
    background-color: #3c74b8;
}
.feature-bx3:hover p {
    color: #fff !important;
}
.sec-balance-test{
    background: #F5F2F0;
    padding-top: 60px;
    padding-bottom: 50px;
}
.cat-balance-test{
    background: #fff;
    padding: 20px 35px;
}
.cat-balance-test h3{
    border-bottom: 1px solid #1111121A;
    display: inline-block;
    padding-bottom: 13px;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
}
.cat-balance-test p{
    padding-top: 13px;
}
.sec-balance-test1{background: #f5f5f5;}
.cat-balance-test h4{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    padding-top: 15px;
}
.cat-book-apt p{
    padding-left: 34px;
}
.cat-book-apt i{
    float: left;
    padding-top: 5px;
    padding-right: 15px;
}
.backborderbox {
    position: relative;
    border: 1px solid #011936;
    width: 90%;
    margin: 0 auto;
    margin-top: 107px;
    border-radius: 12px;
    padding-bottom: 30px;
}
.testimonial-box-back {
    border-radius: 12.4px;
    box-shadow: 0 0 38px 0 rgba(80, 48, 164, 0.15);
    background-color: #fff;
    padding: 40px 50px;
    width: 95%;
    margin-top: -101px !important;
    margin: 0 auto;
}
.folio_pricing_single{
	background: #fff;
	position: relative;
	z-index: 9;
	margin-bottom: 25px;
	border-radius: 25px 60px 65px 25px;
}

.folio_pricing_single .price_title{
	background: #FFFFFF;
	padding: 12px 15px;
	position: relative;
}
.folio_pricing_single.favourite_pricing .price_title{
	background: #011936;
}
.folio_pricing_single .price_title:after{
    background: #fff;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
.folio_pricing_single .price_title h2{
    color: #656565;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}
.folio_pricing_single.favourite_pricing .price_title h2{
    color: #FFFFFF;
}
.folio_pricing_single .price_cost{
	padding: 10px 15px;
	text-align: center;
	background: #e5feff;
	border-radius: 22px 58px 0px 0px;
	border-top: 5px solid #011936;
}
.folio_pricing_single .price_cost .price{
    color: #000000;
    font-size: 60px;
    font-weight: 200;
    line-height: 60px;
    margin: 0;
}

.folio_pricing_single .price_cost .duration{
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;	
    margin: 0;
}
.folio_pricing_single .pricing_details{
	padding: 15px 15px;
	margin-top: 10px;
}
.folio_pricing_single .pricing_details ul{
	margin: 0 0 17px 0;
	/* text-align: center; */
}
.folio_pricing_single .pricing_details ul li{
    color: #343434;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
}
.folio_pricing_single .pricing_details ul li:before{
    content: "";
}
.folio_pricing_single .pricing_details .button{
    margin: 0;
}
.sec-bg{background: #dae6ec;padding-top: 60px;padding-bottom: 50px;}
.folio_pricing_single .pricing_details ul li i{
    padding-right: 13px;
    color: #011936;
}
.price_cost img{width: 130px;}
.member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
    padding: 30px;
    border-radius: 10px;
    background: #f8fcfe;
    border: 1px solid;
}
.member img{
    border-radius: 15px;
}
.member h4{
    font-family: "Quicksand", sans-serif;
}
.sec-bg1{}
.main-title1 h3{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.cat-serv{}
.cat-serv h3{
    font-family: "Quicksand", sans-serif;
    font-size: 31px;
}
.cat-serv img{
    float: right;
    border-radius: 114px;
}
@media (min-width: 320px) and (max-width: 767px)
{
    .book-form {padding: 10px;}
    .cat-serv img{
        float: unset;
    }
}
.sec-bg1{
    padding-top: 60px;
    padding-bottom: 50px;
    background: #f6f7fa;
}
/*  */
.listar-map-button-text span {
    background-color: #fff;
    color: #252525;
    text-shadow: none;
  }
  
.listar-page-header-content .listar-map-button-text span {
position: relative;
display: inline-block;
vertical-align: middle;
font-size: 15px;
height: 44px;
line-height: 1.6;
padding: 10px 25px;
box-shadow: 0 0 300px rgba(0, 0, 0, 0.65), 0 0 30px rgba(0, 0, 0, 0.06);
border-radius: 50px;
background-color: rgba(35, 40, 45, 0.9);
color: #fff;
text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.listar-feature-item-wrapper {margin-bottom: 40px;padding-left: 0px;padding-right: 0px;}

.listar-feature-item {height: calc(100% - 20px);}
  
.listar-feature-item.listar-feature-has-link
~ .listar-feature-fix-bottom-padding.listar-fix-feature-arrow-button-height {
position: relative;
display: block;
width: 100%;
height: 30px;
}

.listar-feature-item a {/* position: absolute; *//* top: -12px; *//* left: 15px; *//* width: calc(100% - 94px); *//* height: calc(100% + 4px); *//* border-radius: 1000px; *//* z-index: 10; */}
  
.listar-feature-with-image .listar-feature-item a:before {
content: "";
position: absolute;
top: -74px;
left: 50%;
margin-left: -74px;
width: 148px;
height: 148px;
border-radius: 1000px;
z-index: 10;
}
  
.listar-feature-item a:after {/* content: ""; */position: absolute;bottom: -7px;left: 50%;margin-left: -25px;width: 50px;height: 50px;border-radius: 1000px;z-index: 10;animation: ripple 0.7s linear infinite;box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6),
    -5px -5px 10px rgba(255, 255, 255, 0.5);}
  
@keyframes ripple {
0% {
        box-shadow: 0 0 0 0 rgba(163, 177, 198, 0.3), 0 0 0 1em rgba(163, 177, 198, 0.3), 0 0 0 3em rgba(163, 177, 198, 0.03), 0 0 0 5em rgba(163, 177, 198, 0.01);
}
100% {
    box-shadow: 0 0 0 1em rgba(163, 177, 198, 0.3), 0 0 0 3em rgba(163, 177, 198, 0.03), 0 0 0 5em rgba(163, 177, 198, 0.03), 0 0 0 8em rgba(163, 177, 198, 0.01);
}
}
  
.listar-feature-item .listar-feature-item-inner {
padding: 50px 30px;
border-radius: 6px;
z-index: 5;
position: relative;
height: 100%;
}

.listar-feature-item .listar-feature-item-inner {
padding-top: 60px;
padding-bottom: 60px;
}
  
.listar-feature-item .listar-feature-item-inner:before {
    border: 0;
    box-shadow: 120px 0px 150px rgba(80, 80, 80, 0.15),
    10px 0px 10px rgba(80, 80, 80, 0.02);
    border-radius: 1000px;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
);
    background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(40%, rgba(255, 255, 255, 0)),
    color-stop(100%, rgba(255, 255, 255, 1))
);
    background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
);
    background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
);
    background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(218 232 239) 40%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=1);
    }
  
.listar-feature-item .listar-feature-item-inner:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.listar-feature-right-border {position: absolute;/* width: calc(100% + 24px); */height: calc(100% + 24px);top: -12px;left: 50%;overflow: hidden;}
  
.listar-feature-items {margin-top: 2;text-align: center;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;margin-top: 70px;}
  
.listar-feature-right-border:before,
.listar-hovering-features
.listar-feature-item
a:hover
~ .listar-feature-item-inner
.listar-feature-right-border:before {
border: 11px solid #2f53bf;
}

.listar-feature-right-border:before,
.listar-hovering-features
.listar-feature-item
a:hover
~ .listar-feature-item-inner
.listar-feature-right-border:before,
.listar-hovering-features-grey
.listar-feature-item
a:hover
~ .listar-feature-item-inner
.listar-feature-right-border:before {
content: "";
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
border: 11px solid #258bd5;
border-radius: 800px;
left: -50%;
}

.listar-feature-item .listar-feature-block-content-wrapper {
position: relative;
display: block;
text-decoration: none;
margin: -30px;
padding: 30px;
height: calc(100% + 100px);
}

.listar-features-design-2 .listar-feature-item-wrapper {
margin-bottom: 120px;
padding-left: 27px;
padding-right: 27px;
}

.listar-feature-item.listar-feature-has-link .listar-feature-item-inner:after {
content: "";
background-color: #fff;
z-index: 6;
position: absolute;
background-repeat: no-repeat;
background-position: center center;
}
  
.listar-feature-icon-wrapper {
width: 148px;
height: 148px;
line-height: 148px;
border-radius: 500px;
position: relative;
background-color: #fff;
box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.06);
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
left: 50%;
vertical-align: middle;
margin-left: -74px;
top: -66px;
margin-top: -74px;
}
  
.listar-feature-icon-inner {width: 120px;height: 120px;line-height: 120px;border-radius: 500px;position: relative;display: inline-block;vertical-align: middle;box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14);background: #011936;}

.listar-feature-icon-inner div {/* -webkit-transform: rotate(0deg); */-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);/* transform: rotate(0deg); *//* display: inline-block; *//* position: relative; *//* width: 120px; *//* height: 120px; *//* line-height: 120px; *//* text-align: left; */}

.listar-feature-icon-inner img {position: relative;vertical-align: middle;display: inline-block;width: auto;left: 38%;-webkit-transform: translate(-50%);-moz-transform: translate(-50%);-ms-transform: translate(-50%);-o-transform: translate(-50%);transform: translate(-50%);height: 55px;}

.listar-feature-item img,
.listar-feature-item i {}
  
.listar-feature-with-image .listar-feature-content-wrapper {
top: 0;
}
.listar-feature-content-wrapper {
position: relative;
margin-top: -15.5px;
}

.listar-feature-item .listar-feature-item-title {
padding-top: 0;
margin: 0 0 30px;
text-align: center;
line-height: 1.5;
}

.listar-feature-item
.listar-feature-item-title.listar-feature-counter-added
> span {
margin-left: 25px;
border-radius: 0 50px 50px 0;
}
  
.listar-feature-item .listar-feature-item-title > span {
box-shadow: 15px 20px 30px rgba(80, 80, 80, 0.12),
    5px 0px 40px rgba(80, 80, 80, 0.1);
padding: 10px 20px;
display: inline-block;
position: relative;
background-color: #fff;
}
  
.listar-feature-item .listar-feature-item-title > span span {
box-shadow: 15px 15px 30px rgba(80, 80, 80, 0.2),
    5px 0px 80px rgba(80, 80, 80, 0.15);
padding: 10px 0;
display: inline-block;
width: 50px;
height: 50px;
line-height: 30px;
white-space: nowrap;
position: absolute;
top: -3px;
left: -40px;
border-radius: 50px;
background-color: #fff;
}

.listar-feature-item .listar-feature-item-title span {
display: inline-block;
font-size: 14px;
line-height: normal;
font-weight: 400;
text-shadow: none;
border-radius: 50px;
color: #252525;
font-size: 18px;
}
  
.listar-feature-item-excerpt {
padding: 0 20px;
}

.listar-feature-item-excerpt {
color: #252525;
position: relative;
top: 0;
width: 100%;
margin: 0 auto;
text-align: center;
}

.pset {
padding-top: 180px;
padding-bottom: 80px;
}
  
.listar-map-button-text span {
position: relative;
display: inline-block;
vertical-align: middle;
font-size: 15px;
height: 44px;
line-height: 1.6;
padding: 10px 25px;
box-shadow: 0 0 31px rgba(0, 0, 0, 0.65), 0 0 4px rgba(0, 0, 0, 0.06);
border-radius: 50px;
background-color: rgba(35, 40, 45, 0.9);
color: #fff;
text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.listar-map-button-text span {
background-color: #fff;
color: #252525;
text-shadow: none;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-ms-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}
  
.listar-map-button-text span:after {
border: 12px solid #fff;
}

.listar-map-button-text span:after {
content: "";
position: absolute;
top: -14px;
left: -14px;
width: calc(100% + 28px);
height: calc(100% + 28px);
border-radius: 36px;
}

.listar-map-button:hover .listar-map-button-text span {
padding: 10px 43px 10px 51px;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-ms-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}

.listar-feature-with-image .listar-feature-item a:before {/* content: ""; *//* position: absolute; *//* top: -74px; *//* left: 50%; *//* margin-left: -74px; *//* width: 148px; *//* height: 148px; *//* border-radius: 1000px; *//* z-index: 10; */}

.listar-feature-item.listar-feature-has-link .listar-feature-item-inner:after {
margin-left: -25px;
width: 50px;
height: 50px;
border-radius: 50px;
box-shadow: 10px 10px 40px rgba(80, 80, 80, 0.15),
    15px 15px 30px rgba(80, 80, 80, 0.05), 0 0 120px rgba(80, 80, 80, 0.6);
bottom: -30px;
background-image: url("https://image.flaticon.com/icons/svg/2316/2316674.svg");
background-size: 40%;
color: #555;
line-height: 52px;
}
.head-design{
    background: #5e7ca1;
    padding: 25px;
}
.head-design h1{
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 34px;
}
.head-design p{
    color: #fff;
    font-size: 18px;
}
.testimonial-box-back h2{font-family: "Quicksand", sans-serif;}
.cat-whychoose p{
    font-size: 18px;
}
.cat-whychoose p i{
    padding-right: 13px;
}
.cat-whychoose h4{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    padding-bottom: 18px;
    font-weight: 600;
}
.inner-box h3 {
    color: #fff;
    font-weight: 500 !important;
    font-size: 22px !important;
    background: #5e88a0;
    padding: 13px;
    font-family: "Quicksand", sans-serif;
    border-radius: 10px;
}
.service-item img {
    transition: all .5s;
    float: left;
    width: 106px;
    padding-right: 0px;
}
.service-item{
    border: 1px solid #8abad3;
    display: inline-block;
    padding: 18px;
    border-radius: 20px 10px;
}
.service-item h4{border-bottom: 1px dashed #011936;display: inline-block;padding-bottom: 8px;color: #294b74;font-size: 20px;}
.service-item p{
    padding-top: 13px;
}
.cat-condition h4{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    color: #011936;
}
.cat-allergy{
    border-bottom: dashed 1px #011936;
    margin-bottom: 30px;
}
.cat-allergy h5{
    float: left;
    background: #5e7ca1;
    text-align: center;
    padding: 13px;
    border-radius: 31px;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.08);
}
.cat-allergy h5:hover{
    background: #285081;
    transition: all .5s cubic-bezier(.5,1,.89,1);
    will-change: transform;
    box-shadow: 0 10px 20px rgba(0,0,0,.08);
}
.cat-allergy h4{
    margin-left: 65px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}
.cat-allergy p{
    margin-left: 65px;
}
.sec-locations{
    background: #cf8639;
    padding: 15px;
}
.cat-locations i{
    color: #fff;
    font-size: 26px;
    border: dashed 1px;
    padding: 5px 11px;
    border-radius: 35px;
}
.cat-locations h4{
    font-size: 1.3rem;
    color: #fff;
    padding-top: 18px;
    font-family: "Quicksand", sans-serif;
}
.sec-locations h2{
    color: #011936;
    font-family: "Quicksand", sans-serif;
    padding: 5px;
    /* background: #011936; */
    display: inline-block;
    font-size: 1.6rem;
    border-radius: 5px;
    font-weight: 700;
}
.cat-locations p{
    color: #fff;
    font-size: 16px;
    padding-top: 0px;
    margin-bottom: unset !important;
}
.btn-3-1{
    color: #fff !important;
    border: 2px solid #fff !important;
    padding: 0 15px;
}
.btn-3-2{
    /* border: 2px solid #011936 !important; */
    color: #FFF;
    background: #cf8639;
    border: unset !important;
    padding: 4px 25px;
}
.book-form{
    background: #dcedf6;
    padding-top: 25px;
    padding-bottom: 40px;
    border-radius: 45px;
}
.book-form h3{
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: #cf8639;
    font-size: 28px;
    margin-bottom: unset;
}
.book-form .form-floating{font-family: "Quicksand", sans-serif;font-weight: 600;color: #011936;}
.book-form .form-floating input{font-family: "Quicksand", sans-serif;font-size: 1rem;border-radius: 15px;border: 1px solid #304a58;font-weight: 600;color: #011936;height: 50px;}
.cat-consult{}
.cat-consult h3{
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: #011936;
    font-size: 34px;
    padding-bottom: 25px;
}
.cat-consult h5{
    font-family: "Quicksand", sans-serif;
    color: #cf8639;
    padding-bottom: 35px;
}
.cat-consult a{
    background: #011936;
    padding: 15px 30px;
    margin-top: 15px;
    color: #fff;
    border-radius: 13px;
    font-size: 19px;
    font-family: "Quicksand", sans-serif;
}
.cat-consult a i{
    padding-right: 13px;
}
.plan-button1{
    padding-top: 95px !important;
}
.label-text{
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #011936;
}
.sec-book-apt-bg{
    position: relative;
    z-index: 999;
    background-image: url(../images/book-apt-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 35px;
    padding-bottom: 40px;
}
.banner .carousel-caption {
    top: 75%;
    right: 78%;
    left: 0%;
}
.banner .carousel-caption01 {
    top: 85%;
    /* right: 19%; */
    /* left: 0%; */
}
.banner .carousel-caption a{
    font-size: 18px;
}
.banner .carousel-caption01 a{
    font-size: 18px;
}
@media screen and (max-width: 768px)
{
    .carousel-caption02 {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;}

    .banner .carousel-caption02 {
    top: 75%;
    right: 78%;
    /* left: 0%; */
    }
    .banner .carousel-caption02 {
    top: 75%;
    right: 19%;
    /* left: 0%; */
    }

    .carousel-caption02 {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;}

    .banner .carousel-caption02 a{
    font-size: 13px;}

    .btn-3-2{
    padding: 0px 10px 0px;
    line-height: 38px;
}
.banner .carousel-caption a{
    font-size: 16px;
}
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.carousel-caption01 {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}